.navbar {
  background-color: #fff;
  height: 3em;
  padding: .2em 1.2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  width: 2em;
  cursor: pointer;
}

.greet-user {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.05em;
}

.greet-user > u {
  cursor: pointer;
}
